


.introduction-container
{
  padding: 3%;
  background-color: #f5f7ff;
}

.introduction
{
  padding: 3%;
  margn-top: 20px;
  background-color: lightgoldenrodyellow;
  border-style: dashed;
  border-width: 2px;
  border-color: lightgrey;
  border-radius: 8px;
}
