

.vitrin-container
{
  padding: 3%;
  background-color: #ddd;
}


img.pic-size
{
  width: 100%;
  height: 100%;
}

.vitrin
{
  background-color: lightgrey;
  border-style: solid;
  border-width: 2px;
  color: #b0b0b0;
  border-radius: 3px;
  height: 20%;
}

.product-container
{
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 360px) {
  .vitrin
  {
    width: 92%;
    margin-left: 4%;
  }

}
